<app-text size="s" weight="bold" color="secondary">
    <div class="sidebar">
        <div class="sidebar__logo">
            <img class="sidebar__logo-img" src="" alt="///">
        </div>
        <ul class="sidebar__ul-lists">
            @for (menuItem of menuItems; track menuItem.icon) {
                <li class="sidebar__list">
                    <a class="sidebar__link"
                        [routerLink]="[menuItem.link]">
                        <svg class="sidebar__icon"
                            [icon]="menuItem.icon">
                        </svg>
                        <span>{{menuItem.label}}</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</app-text>
