.card{
    width: 100%;
    text-align: center;
    background: var(--BgSecondary);
    border-radius: 8px;
    padding: 8px;
    &__img-wrapper{
        margin-top: 10px;
    }
    &__img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 180px;
        height: 150px;
        border-radius: 10px;
    }
    &__btn-wrapper{
        display: grid;
        grid-gap: 5px;
        margin-top: 10px;
    }
}