@if (dataWord) {
    <div class="card">
        <app-text size="s" weight="bold" color="light">Выберите правильный перевод</app-text>
        <div class="card__img-wrapper">
            <img class="card__img" 
                [src]="dataWord.image_src" 
                [alt]="dataWord.arabic">
        </div>
        <app-text size="m" weight="bold" color="light">{{dataWord.arabic}}</app-text>
        <div class="card__btn-wrapper">
            @for (wordRus of dataWord.option; track wordRus) {
                <app-button (click)="selectOption(wordRus)" class="btn" color="primary" padding="m">
                    <app-text size="s" weight="regular" color="light">{{wordRus}}</app-text>
                </app-button>
            }
        </div>
    </div>
}
    