:root{
    --ScaleColor: rgba(99, 99, 99, 0.855);
    --LightColor: #ffffff;
    --BgColor: #1a141f; 
    --BgSecondary: #2e2e2e;
    --PrimaryColor: #13d879; 
    --SecondColor: #d2e0d9; 
    --WarnColor:#e3c425;
    --ErrColor:#ea5353;
    --BtnPrimaryBg: #3585ed;
    --BtnSecondaryBg: transparent;

}