.text {
    font-weight: 400;
}

.xl {
    font-size: 28px;
}

.l {
    font-size: 24px;
}

.m {
    font-size: 20px;
}

.s {
    font-size: 16px;
}


.primary{
    color: #4169E1
}

.secondary{
    color: #808080

}

.warning{

    color: #FFA500
}

.error{
    color: #B22222
}

