.text {
    font-weight: 400;
}

.xl {
    font-size: 28px;
}

.l {
    font-size: 24px;
}

.m {
    font-size: 20px;
}

.s {
    font-size: 16px;
}

.primary{
    color: var(--PrimaryColor);
}

.secondary{
    color: var(--SecondColor);

}

.warning{

    color: var(--WarnColor);
}

.error{
    color: var(--ErrColor);
}

.bold {
    font-weight: 700;
}
.semibold{
    font-weight: 600;
}

.regular{
    font-weight: 400;
}
.light {
    font-weight: 300;
}
