<div class="sidebar">
    <div class="sidebar__logo">
        <img class="sidebar__logo-img" 
            src="/assets/images/istockphoto-499680387-612x612.png" 
            alt="logo image">
    </div>
    <ul class="sidebar__list">
        @for (menuItem of menuItems; track menuItem.link) {
            <li class="sidebar__list-item">
                   
                <app-text size="s" 
                    weight="bold" 
                    color="secondary"
                    >
                    <a class="sidebar__link"
                        [routerLink]="[menuItem.link]">
                        <svg class="sidebar__icon"
                            [icon]="menuItem.icon">
                        </svg>
                            {{menuItem.label}}
                    </a>
                </app-text>
            </li>
        }
    </ul>
</div>
