.btn{
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    &:hover,
    :focus-visible{
        background: var(--PrimaryColor);
    }
}
// padding
.l{
    padding: 5px 60px;
}
.m{
    padding: 4px 60px;
}
// color
.primary{
    background: var(--BtnPrimaryBg);
}
.secondary{
    background: var(--BtnSecondaryBg);
}
