.primary{
    background: var(--BtnPrimaryBg);
}
.secondary{
    background: var(--BtnSecondaryBg);
}
.big{
    border-radius: 5px;
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
    &:hover,
    :focus-visible{
        background: var(--BtnPrimaryBg);
    }
}